<br/>
<br/>

<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" placeholder="Pesquisa por nome">
  </div>

  <button type="button" (click)="aplicarFiltros()" class="btn btn-primary mb-2">Buscar</button>
  <button type="button" (click)="carregarUsuarios()"  class="btn btn-primary mb-2" style="margin-left: 5px;" >Limpar</button>
  

<br/>
<br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Cpf</th>
      <th scope="col">Login</th>
      <th scope="col" [width]="10">Deletar</th>
      <th scope="col" [width]="10">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: p }">
      <td>{{user.id}}</td>
      <td>{{user.nome}}</td>
      <td>{{user.cpf}}</td>
      <td>{{user.login}}</td>
      <td><button (click)="deletarUsuario(user.id)" class="btn btn-primary">Delete</button></td>  
      <td><button  [routerLink]="['/usuarioAdd', user.id]" routerLinkActive="router-link-active" style="margin-left: 5px;" class="btn btn-warning">Editar</button></td>  
    </tr>
  </tbody>
</table>

<div class="pagination-controls">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<button type="button" [routerLink]="['/usuarioAdd']" routerLinkActive="router-link-active" style="margin-left: 1850px;"    class="btn btn-success mb-2">Novo</button>

</form>